@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Outfit", "system-ui", "sans-serif";
}

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50;
    font-family: 'Outfit', sans-serif;
  }
}
